:local(.menu) {
  position: fixed;
  left:0;
  top:0;
  width:100%;
  z-index:1000;
}

:local(.menu) :global(.item.active) {
  color:#fff!important;
  border-color:#fff!important;
}

:local(.menu) :global(.item) {
  color:#fff!important;
  border-color:rgba(255,255,255,0.4);
}
