:local(.basketItem) {
  display:block;
  border-bottom:1px solid rgba(255,255,255,0.1);
  padding-bottom:10px;
  margin-bottom:10px;
}

:local(.title) {
  margin:0;
  font-size:25px;
}

:local(.description) {
  margin:0;
}

:local(.meta) {
  margin-top:10px;
}

:local(.remove) {
  cursor:pointer;
}