:local(.footer) {
  position: fixed;
  left:0;
  bottom:0;
  width:100%;
  z-index:1000;
}

:global(.generic) :local(.footer) {
  background:#000;
}

:local(.footer) :global(.item.active) {
  color:#fff!important;
  border-color:#fff!important;
}

:local(.footer) :global(.item) {
  color:#fff!important;
  border-color:rgba(255,255,255,0.4);
}